<div class="container">
  <div class="jumbotron text-center">
    <h1>Pollapalooza!</h1> 
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
      <input type="text" class="form-control" placeholder="Search Polls" aria-describedby="basic-addon1">
    </div>
  </div>
  <div data-ng-init="getPolls()">
    <div ng-repeat="poll in polls">
    <button ng-click="customNavigate(poll._id)">{{poll}}</button>
    </div>
  </div>
</div>