<div class="container">
  <div class="jumbotron text-center">
    <h1>Pollapalooza!</h1> 
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
      <input type="text" class="form-control" placeholder="Search Polls" ng-model="searchString" aria-describedby="basic-addon1">
    </div>
  </div>
  <div data-ng-init="getPolls()">
    <h3 class="text-center col-xs-2">Total Votes</h3>
    <h3 class="text-center col-xs-10">Poll titles</h3>
    <div ng-repeat="poll in polls | orderByVotes | searchPolls:searchString">
    <button type="button" class="btn-poll btn-block" ng-click="customNavigate(poll._id)">
      <label class="col-xs-2 control-label">{{totalVotes(poll.options)}}</label>
      <label class="col-xs-10">{{poll.title}}</label>
    </button>
    </div>
  </div>
</div>