<div clas="container">
	<div id="loginbox" class="login col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
    <div class="panel panel-info" >
      <div class="panel-heading">
          <div class="panel-title">Sign In</div>
      </div>     
      <div class="panel-body" >
        <div ng-if="errorMessage" class="alert alert-danger fade in">
          <a class="close" data-dismiss="alert">&times;</a>
          <strong>Error!</strong> {{errorMessage}}
        </div>
        <ng-form id="loginForm" name="loginForm" class="form-horizontal" role="form">
          <div class="form-group" ng-repeat="param in loginParams" ng-class="{ 'has-error' : loginForm[param.name].$invalid && !loginForm[param.name].$pristine }">
            <div class="input-group col-xs-10 col-xs-offset-1">
              <span class="input-group-addon"><i class="{{param.icon}}"></i></span>
              <input 
                ng-model="user[param.name]" 
                type="{{param.type}}"
                name="{{param.name}}"
                class="form-control" 
                placeholder="{{param.placeholder}}"
                required />
            </div>
            <div class="col-xs-10 col-xs-offset-1 help-block" ng-show="loginForm[param.name].$invalid && !loginForm[param.name].$pristine">
              <small>{{param.helpMessage}}</small>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12 controls">
              <button type="submit" ng-disabled="loginForm.$invalid" ng-click="login()" class="btn btn-success">Login</button>
              <a ng-href="/auth/twitter?returnTo={{'/profile'}}" class="btn btn-info login-btn"><span class="fa fa-twitter"></span> Login with Twitter</a>
              
              <!--<a ng-href="/auth/facebook?returnTo={{'/profile'}}" class="btn btn-primary login-btn"><span class="fa fa-facebook"></span> Login with Facebook</a>-->
              
              <hr />
              <small>
                Don't have an account! 
            	  <a id="signinlink" ng-href="#/signup">
                  Sign Up Here
            	  </a>
          	  </small>
            </div>
          </div>  
        </form>     
        </div>                     
      </div>  
    </div>
</div>