<div class="container">
  <div class="jumbotron text-center">
    <h1>Create a poll</h1> 
  </div>
  <form>
  <div class="form-group">
    <label>Title:</label>
    <input type="text" class="form-control" aria-describedby="emailHelp" ng-model="poll.title" placeholder="Give you poll a good title">
  </div>
  <div class="form-group">
    <label>Question:</label>
    <input type="text" class="form-control" ng-model="poll.question" placeholder="Ask a Question">
  </div>
  <div class="form-group">
    <label>List of Options: <small>(seperated by commas)</small></label>
    <textarea class="form-control" ng-model="poll.options" rows="3" placeholder="Yes, No, Maybe, Who cares"></textarea>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" ng-model="poll.customOption" class="form-check-input">
      Others can add custom options
    </label>
  </div>
  <button type="submit" class="btn btn-success" ng-click="createPoll(poll)">Submit</button>
  <button type="reset" class="btn btn-danger" >Reset</button>
</form>
</div>