<div clas="container">
	<div id="loginbox" class="login col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
    <div class="panel panel-info" >
      <div class="panel-heading">
          <div class="panel-title">Sign Up</div> 
          <!--float:right; font-size: 85%; position: relative; top:-10px-->
          <div class="text-right"><a id="signinlink" ng-href="#/login"><small>Sign In</small></a></div>
      </div>     
      <div class="panel-body" >
        <div ng-if="errorMessage" class="alert alert-danger fade in">
          <a class="close" data-dismiss="alert">&times;</a>
          <strong>Error!</strong> {{errorMessage}}
        </div>
        <ng-form name="signupForm" class="form-horizontal" role="form">
          <div class="form-group" ng-repeat="param in signupParams" ng-class="{ 'has-error' : signupForm[param.name].$invalid && !signupForm[param.name].$pristine }">
            <label class="col-sm-2 control-label">{{param.label}}</label>
            <div class="col-sm-9">
                <input 
                  type="{{param.type}}"
                  name="{{param.name}}"
                  ng-model="user[param.name]"
                  class="form-control"
                  placeholder="{{param.placeholder}}"
                  required />
            </div>
            <div class="col-sm-10 col-sm-offset-2 help-block" ng-show="signupForm[param.name].$invalid && !signupForm[param.name].$pristine">
              <small>{{param.helpMessage}}</small>
            </div>
          </div>
          <hr />
          <div class="col-sm-12 controls">
            <button type="submit" ng-disabled="signupForm.$invalid" ng-click="signup()" class="btn btn-success">Sign up</button>
            OR
            <a ng-href="/auth/twitter?returnTo={{'/profile'}}" class="btn btn-info login-btn"><span class="fa fa-twitter"></span> Sign up via Twitter</a>
            
            <!--<a ng-href="/auth/facebook?returnTo={{'/profile'}}" class="btn btn-primary login-btn"><span class="fa fa-facebook"></span> Sign up via Facebook</a>-->
            
          </div> 
        </form>
        </div>                     
      </div>  
    </div>
</div>